@using HR_System.ViewModel;
@model PermissionFormVM
@{
    ViewData["Title"] = "ManagePermissions";
    Dictionary<string, string> pageName = new Dictionary<string, string>();
    pageName["Attendance"] = "Attendance";
    pageName["Employee"] = "Employees";
    pageName["GeneralSettings"] = "General Settings";
    pageName["Holidays"] = "OfficialHoliday";
    pageName["Roles"] = "Groups";
    pageName["SalaryReport"] = "Employees Salaries";
    pageName["Users"] = "Users";
    pageName["Department"] = "Departments";
}
<style>
    .parent {
        min-height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel{
        width: 100%
    }
</style>
<div class="parent mt-5" dir="ltr">
    <div id="holidays-table " class="table-content panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">

        <div class="panel-heading templatemo-position-relative " style="background-color:#0d6efd">
            <h2 class="text-uppercase text-center">ManagePermissions ( @Model.RoleName )</h2>
        </div>
        <form method="post" asp-action="ManagePermissions">
            <div class="table-responsive">
                <input type="hidden" asp-for="RoleId" />
                <table class="table table-striped table-bordered ">
                    <thead>
                        <tr>
                            <th class="text-center">Page</th>
                            <th class="text-center">View</th>
                            <th class="text-center">Add</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>


                    <tbody>
                        @for (int i = 0; i < Model.RoleClaims.Count; i += 4)
                        {
                            <tr>
                                <td class="text-center">@pageName[Model.RoleClaims[i].DisplayValue.Split(".")[1]]</td>
                                @*<td>@Model.RoleClaims[i].DisplayValue.Split(".")[2]</td>*@
                                @for (int j = i; j < i + 4; j++)
                                {
                                    <td class="text-center">
                                        <input style="display:none;" asp-for="@Model.RoleClaims[j].DisplayValue" />
                                        <input type="checkbox" asp-for="@Model.RoleClaims[j].IsSelected" class="form-check-input" />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group mt-4 d-flex justify-content-start mx-3 my-3">
                <input type="submit" value="Save" style="background-color: var(--main-color)" class="btn px-5" />
            </div>
        </form>
    </div>
</div>
